
*{
    border-color:#eee;
}
.navbar-brand
{
    background: #4aaaa5;
    /* padding: 10px 15px; */
    margin: 0 20px;
}
.navbar-brand-fluid{
    position: relative;
}

.card{
    border:none;
    text-align: center;
    margin: 5% auto;
    box-shadow:0px 0px 5px 0px #333;
    max-width: 80%;
    position: relative;
}
.card:hover{
    box-shadow:0px 0px 5px 1px #333;
    opacity: 1.0;
}
.card:active{
    box-shadow:0px 0px 5px 3px #333;
}
.card:hover .card-img-overlay,
.card:active .card-img-overlay,
.card:focus .card-img-overlay,
{
    opacity:1.0;
}

.card-img-overlay{
    padding: initial;
    top: 65%;
    opacity: 0.75;
    margin-bottom: 10px;
}
.card h3{
    background:rgb(74, 170, 165);  
    opacity: 0.95; 
    padding: 5%;     
    margin: 0 auto;  
    font-size: 20px;   
}
.main_content{
    margin: 0 auto;
}
.nav-link{
    text-align: right;
    padding: 3px 5px; 
}
.side-links{
    padding:5px 15px;
}
.footer{
    height:80px;
     text-align: center; 
    position:static;
    
}
@media only screen and (max-width: 767px) {
    .mb-4{
         margin-bottom: auto !important;
    }
    .side-links{
        position: initial;
        display: inline-block;
        line-height: .8rem;
        margin: 5px;
    }

    #navbarText {
        position: inherit ;
        top: 0;
        left: 0;
    }
}
@media only screen and (min-width: 767px) {
    .side-links{
        position: relative;
        margin: 20%;
    }
    #navbarText {
        position: inherit ;
        top: 0;
        left: 0;
    }
}
@media only screen and (max-width: 506px) {
    .side-links li{
        display:inline-block;
        margin-top:25px;
        margin-right: 20px;
    }

    .main_content{
        padding-top:80px;
    }
    
}

